/* style.css */
/* General CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Header CSS */
header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 3rem;
  letter-spacing: 1.5rem;
  padding: 20px 0;
  text-transform: uppercase;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .nav-btn {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
}
nav .nav-btn:hover {
  border-bottom: 2px solid black;
}
/* ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.3rem;
  padding: 10px 30px;
}
a:hover {
  border-bottom: 1px solid black;
} */
/* Home CSS */
#home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./images/background.jpg);
  background-size: cover;
  background-position: center;
}
.description {
  width: 70vw;
  text-align: center;
  margin: 0 auto;
  color: white;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}
/* Menu CSS */
#menu {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 180px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-header {
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.3rem;
  padding: 40px 0 20px;
  border-bottom: thin solid gray;
}
.menu-item {
  margin: 20px;
  letter-spacing: 0.2rem;
}
.item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.item-name {
  font-size: 22px;
  font-weight: 100;
}
.item-desc {
  letter-spacing: 0.1rem;
  color: gray;
}
/* Contact CSS */
#contact {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 200px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact p {
  padding: 10px;
  font-size: 18px;
}
#map {
  background-image: url(./images/map.png);
  border: thin solid gray;
  height: 300px;
  width: 400px;
  margin: 30px;
}
/* Footer CSS */
footer {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}
#copyright {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.2rem;
}
