/* style.css */
/* General CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
/* Header CSS */
header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 3rem;
  letter-spacing: 1.5rem;
  padding: 20px 0;
  text-transform: uppercase;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .nav-btn {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
}
nav .nav-btn:hover {
  border-bottom: 2px solid black;
}
/* ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.3rem;
  padding: 10px 30px;
}
a:hover {
  border-bottom: 1px solid black;
} */
/* Home CSS */
#main {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0 ,0,0,0.4), rgba(0 ,0,0,0.4)), url();
}
.description {
  width: 70vw;
  text-align: center;
  margin: 0 auto;
  color: white;
  line-height: 1.5rem;
  letter-spacing: .2rem;
  padding: 40px;
  background-color: rgba(0,0,0, 0.4);
}